body * {
    font-family: sans-serif;
}

#palette {
    flex-basis:15%;
}

#container {
    flex:1 0 auto;
    height:800px;
    outline:2px solid cadetblue;
}

#rhs {
    display:flex;
    flex-direction: column;
    flex-basis:20%;
}

